/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

/* Define custom properties for scrollbar styling */
:root {
  --scrollbar-thumb-color: #7861ff;
  --scrollbar-track-color: #f0f0f0;
  --scrollbar-thumb-hover-color: #5f43e8;
  --scrollbar-bg: #000;
  --scrollbar-width: 5px;
}

.App {
  height: 100%;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
  border: 2px solid var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #fff inset;
  border-radius: 50%;
  position: relative;
  animation: l6 1.5s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  top: 100%;
  box-shadow: inherit;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
}
@keyframes l6 {
  to {
    transform: rotate(360deg);
  }
}

/* Optional: Hide scrollbar on mobile screens */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
